{% extends "base.html" %}
{% block content %}
{% if movie %}
<div class="video">
  <video controls preload style="width:100%;height:100%;" width="100%" height="100%">
    <source type="video/mp4" src="/videos/{{movie.id}}{{movie.type}}">
    {% for subtitle in subtitles %}
        <track kind="subtitles" src="/subtitles/?movie={{subtitle.srt}}" srclang="{{subtitle.language}}">
    {% endfor %}
    <object width="320" height="240" type="application/x-shockwave-flash" data="/static/melement/flashmediaelement.swf">
      <param name="movie" value="/static/melement/flashmediaelement.swf">
      <param name="flashvars" value="controls=true&file={{movie.id}}{{movie.type}}">
      This browser does not support video.
    </object>
  </video>
</div>
<script>
  $('video,audio').mediaelementplayer();
</script>
<br>
<div class="alert alert-info">
    <b><i class="fa fa-lightbulb-o"></i> Did you know!</b>
    <p>You can increase font size in fullscreen by pressing <b>CTRL+</b> and decrease it with <b>CTRL-</b> - <b>CTRL 0</b> resets the size.</p>
</div>
{% else %}
Select <a href="{{url_for('movies')}}">video</a> to watch
{% endif %}
{% endblock %}
