{% extends "base.html" %}
{% block content %}
{% if new_movies %}
  {% if g.user.is_moderator %}
    <div class="alert alert-info"><a href="{{url_for('modify')}}">New videos found! Click to add them to collection!</a></div>
  {% endif %}
{% endif %}
<div class="page-header">
  <h1>Select a movie</h1>
</div>
<table class="table .table-hover">
  <tr><th>Image</th><th>Rating</th><th>Genre</th><th>Movie</th></tr>
{% for movie in movies %}
<tr><td><img src="{{movie.posters}}" class="pull-left"></td><td>{{movie.ratings}}/100</td><td>{{movie.genres}}</td><td><h3 style="margin:0;padding-bottom:0;"><a href="{{url_for('movie', movie_id = movie.id)}}">{{movie.name}}</a></h3>{{movie.description}}</td></tr>
{% endfor %}
</table>
{% endblock %}
