{% extends "base.html" %}
{% block content %}
{% if new_movies %}
  {% if g.user.is_moderator %}
    <div class="alert alert-info"><a href="{{url_for('modify')}}">New videos found! Click to add them to collection!</a></div>
  {% endif %}
{% endif %}
{% if search is defined %}
  <ol class="breadcrumb">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li class="active">Search</li>
  </ol>
{% endif %}
<div class="page-header">
  <h1>
    Select a movie
    {% if search is defined %}
      <small>Category: {{search}}</small>
    {% endif %}
  </h1>
</div>

<div>
    <p class="lead">
        Sort by: Rating
        <a href="{{url_for('index')}}?sort=rating&amp;way=1"><i class="fa fa-angle-down"></i></a>
        <a href="{{url_for('index')}}?sort=rating"><i class="fa fa-angle-up"></i></a>
        Name
        <a href="{{url_for('index')}}?sort=name&amp;way=1"><i class="fa fa-angle-down"></i></a>
        <a href="{{url_for('index')}}?sort=name"><i class="fa fa-angle-up"></i></a>
    </p>
</div>

<div class="col-md-10">
    <div id="accordion" class="panel-group">
        {% for movie in movies %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{movie.posters}}" class="pull-left" style="margin-right:10px;">
                    <i class="fa fa-star"></i> <b>{{movie.ratings}}</b>/100
                    <i class="fa fa-tags"></i>
                    {% for genre in movie.genres %}
                        <a href="{{url_for('genre', search_tag = genre)}}">{{genre}}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                    <div class="pull-right">
                        Subtitles:
                        {% for subtitle in movie.subtitles %}
                            {{subtitle.language}}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% if movie.subtitles is not iterable %}
                            None
                        {% endif %}
                    </div>
                    <h3 style="margin-top:5px;">
                        <a href="{{url_for('movie', movie_id = movie.id)}}">
                            <small>
                                <i class="fa fa-play"></i>
                            </small>
                            {{movie.name}}
                        </a>
                    </h3>
                    <p>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{movie.name|replace(' ', '')}}">View Description</a>
                    </p>
                </div>
                <div id="collapse{{movie.namereplace(' ', '')}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{movie.description}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% for movie in movies %}
<div class="row" style="margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #dddddd;">
    <div class="col-md-1 col-xs-3">
        <img src="{{movie.posters}}">
        <p style="padding-left: 5px;"><strong>{{movie.ratings}}</strong>/100</p>
    </div>
    <div class="col-md-2">
        <i class="fa fa-tags"></i>
        {% for genre in movie.genres %}
            <a href="{{url_for('genre', search_tag = genre)}}">{{genre}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    <div class="col-md-8">
        <h3 style="margin:0;padding-bottom:0;"><a href="{{url_for('movie', movie_id = movie.id)}}">{{movie.name}}</a></h3>
        {{movie.description}}
    </div>
</div>
{% endfor %}
{% endblock %}
